.container {
    width:530px;
    border: 3px solid blueviolet;
    height: 40vh;
    margin: auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
    
 }
 .box {
     width: 100px;
     height: 100px;
     background-color: rgb(53, 100, 5);
     justify-content:center;
     align-items: center;
     display: flex;
     padding: 10px;
     margin: 25px;
     font-size: 30px;
     color: cornsilk;
     margin-block-start:0px;
 }